<%= form_with(model: dish, class: "contents space-y-3") do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% dish.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control w-full">
    <%= form.label :name, class: "label" do %>
      <span class="label-text">Dish name</span>
    <% end %>
    <%= form.text_field :name, class: "input input-bordered", placeholder: "Enter dish name" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :image, class: "label" do %>
      <span class="label-text">Dish image</span>
    <% end %>
    <%= form.file_field :image, class: "file-input file-input-bordered w-full", placeholder: "Upload image for dish" %>
    <% if form.object.image.attached? %>
      <%= image_tag form.object.image %>
    <% end %>
  </div>

  <div class="form-control w-full">
    <%= form.label :description, class: "label" do %>
      <span class="label-text">Description</span>
    <% end %>
    <div>
      <%= form.rich_textarea :description, class: "h-[500px]" %>
    </div>
  </div>

  <%= form.submit class: "btn btn-primary" %>

<% end %>
