<div class="drawer">
  <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <nav class="navbar bg-base-100">
      <div class="navbar-start">
        <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-ghost btn-sm btn-square lg:hidden">
          <iconify-icon icon="ph:list" width="1rem"></iconify-icon>
        </label>
        <a class="btn btn-ghost text-xl">What2Eat</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <%= render "layouts/nav_links" %>
      </div>
      <div class="navbar-end">
        <% if authenticated? %>
          <%= render "layouts/user_menu" %>
        <% else %>
          <a class="btn btn-md" href="<%= login_url %>">Login</a>
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </div>

  <div class="drawer-side">
    <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4">
      <%= render "layouts/nav_links", assigns: { sidebar: true } %>
    </ul>
  </div>
</div>